@value colors: "../../styles/colors.css";
@value orange from colors;

.button {
  display: block;
  padding: 15px 28px;
  background: orange;
  border: 0;
  color: #fff;
  font-family: Vitesse;
  font-size: 16px;
  cursor: pointer;
}